.char-wrapper {
    width: 300px;
    display: flex;
    justify-content: center;
    .char {
        font-size: 110px;

        &.fail-char {
            color: rgb(143, 10, 10);
        }

        &.success-char {
            color: rgb(13, 88, 17);
        }

        &.shake {
            position: absolute;
            animation: shake 1.2s ease infinite;
            transform-origin: 50% 50%;
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-9px, -65px, 0);
    }

    20%,
    80% {
        transform: translate3d(20px, 75px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-16px, -14px, 0);
    }

    40%,
    60% {
        transform: translate3d(60px, 30px, 0);
    }
}