<div class="game-container">
    <button *ngIf="!gameStarted" (click)="startGame()">Comenzar</button>

    <div class="round-container" *ngIf="gameStarted">
        <span class="round">Ronda {{round+1}}</span>

        <div class="round-finish-wrapper">
            <div *ngIf="roundFinish" class="round-finish">
                <span class="info-round">tiempo: {{timeResult}}s | puntuación: {{score}}</span>
                <button>Siguiente ⚔️</button>
            </div>
        </div>
        <div class="game-char">
            <span class="countdown" *ngIf="!showCharComponent">{{countDownChar}}</span>
            <app-char-for-game [actualRound]="actualRound" (roundStatus)="roundStatus($event)" *ngIf="showCharComponent"></app-char-for-game>
        </div>


        <div class="round-paginator">
            <span class="round-indicator completed"></span>
            <span class="round-indicator completed"></span>
            <span class="round-indicator actual"></span>
            <span class="round-indicator"></span>
            <span class="round-indicator"></span>
            <span class="round-indicator"></span>
            <span class="round-indicator"></span>
            <span class="round-indicator"></span>
            <span class="round-indicator"></span>
            <span class="round-indicator"></span>
        </div>
    </div>

</div>