<div class="game-container">

    <div *ngIf="!gameStarted" class="rules-container">
        <div class="rules">
            <span>0/ Cada partida cuenta con <strong>10 rondas</strong></span>
            <span>1/ Cuenta atrás de <strong>3 segundos</strong></span>
            <span>2/ Aparecerá un <strong>caracter aleatorio</strong>, según la ronda podrá ser más difícil</span>
            <span>3/ Si no pulsas la tecla o teclas correctas, se pondrá de <strong>color rojo</strong></span>
            <span>4/ Cuando escribas el caracter podrás pasar a la siguiente ronda</span>
            <span>5/ Cuanto más tardes, menos puntos obtendrás</span>
        </div>
        <button (click)="startGame()">Comenzar</button>
    </div>

    <div class="round-container" *ngIf="gameStarted">
        <span class="round">Ronda {{nRound+1}}</span>

        <div class="round-finish-wrapper">
            <div *ngIf="roundFinish" class="round-finish">
                <span class="info-round">tiempo: {{timeResult}}s | puntuación: {{score}}</span>
                <button *ngIf="!gameFinished" (click)="nextLevel()">Siguiente ⚔️</button>
                <button *ngIf="gameFinished" [routerLink]="['/result']">Fin ⚔️</button>
            </div>
        </div>
        <div class="game-char">
            <span class="countdown" *ngIf="!showCharComponent">{{countDownChar}}</span>
            <app-char-for-game [actualRound]="actualRound" (roundStatus)="roundStatus($event)"
                *ngIf="showCharComponent"></app-char-for-game>
        </div>


        <div class="round-paginator">
            <span *ngFor="let round of rounds; let i = index" class="round-indicator"
                [ngClass]="{'actual': nRound == i, 'completed': nRound > i }"></span>

        </div>
    </div>

</div>