<div class="game-container">
    <div class="round-container" *ngIf="gameStarted">
        <span class="round">Ronda {{nRound+1}}</span>

        <div class="round-finish-wrapper">
            <div *ngIf="roundFinish" class="round-finish">
                <span class="info-round">tiempo: {{timeResult}}s | puntuación: {{score}}</span>
                <button *ngIf="!gameFinished" (click)="nextLevel()">Siguiente ⚔️</button>
                <button *ngIf="(gameFinished && !multiplayer) || (multiplayer && allPlayerFinished)" (click)="finishGame()">Fin ⚔️</button>
            </div>
        </div>
        <div class="game-char">
            <span class="countdown" *ngIf="!showCharComponent">{{countDownChar}}</span>
            <app-char-for-game [actualRound]="actualRound" [haveTrap]="trap" (roundStatus)="roundStatus($event)"
                *ngIf="showCharComponent"></app-char-for-game>
        </div>


        <div class="round-paginator">
            <span *ngFor="let round of rounds; let i = index" class="round-indicator"
                [ngClass]="{'actual': nRound == i, 'completed': nRound > i }"></span>

        </div>

        <div class="" *ngIf="showCharComponent && !roundFinish && !alreadyUsed">
            <button (click)="sendTrap()">Enviar trampa ⚔️ </button>
        </div>
    </div>

</div>

<div *ngIf="multiplayer" class="list-players">
    <table>
        <thead>
            <td>Jugador</td>
            <td>Puntuación</td>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td class="player-info-cell"><img height="25" src="{{player.avatar || 'https://avatars.dicebear.com/4.5/api/male/'+player.username+'.svg?mood[]=happy'}}">{{player.username}}</td>
                <td class="score-cell">{{player.score || 0}}</td>
            </tr>
        </tbody>
    </table>

</div>