.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    .round-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .round {
            font-size: 2.5em;
            margin-bottom: 60px;
        }
        .game-char{
            min-height: 150px;
            .countdown {
                font-size:110px;
                color:  rgb(16, 14, 19);;
                text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                
            }
        }
        .round-finish-wrapper {
            min-height: 80px;
            margin-bottom:30px;
            .round-finish {
                display: flex;
                flex-direction: column;
            }
        }
        .round-paginator {
            display: flex;
            .round-indicator {
                margin: 4px;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: rgba(255,255,255,.3);

                &.completed {
                    background-color: white;
                }
                &.actual {
                    background-color: rgb(84, 100, 14);
                }
            }
        }

    }

}