.header-container {
    background-color: whitesmoke;
    height: 45px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: rgb(16, 14, 19);
}