.header-container {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    a {
        font-size: 1.2em;
        color: white !important;
        &:hover{
            cursor: pointer;
        }

        &+a,&+span {
            margin-left: 15px;
        }
    }

    .login-github{
        background: white;
        color: rgb(16, 14, 19);
        padding: 8px 5px;
        border-radius: 8px;
        &:hover{
            cursor: pointer;
        }
    }
    
}