<div class="game-container">
    <div class="rules-container">
        <div class="rules">
            <span>0/ Cada partida cuenta con <strong>10 rondas</strong></span>
            <span>1/ Cuenta atrás de <strong>3 segundos</strong></span>
            <span>2/ Aparecerá un <strong>caracter aleatorio</strong>, según la ronda podrá ser más difícil</span>
            <span>3/ Si no pulsas la tecla o teclas correctas, se pondrá de <strong>color rojo</strong></span>
            <span>4/ Cuando escribas el caracter podrás pasar a la siguiente ronda</span>
            <span>5/ Cuanto más tardes, menos puntos obtendrás</span>
        </div>
        <button [routerLink]="['/game']">Comenzar</button>
    </div>
</div>