/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap");

body {
    background-color: rgb(16, 14, 19);
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    button {
        margin: 5px;
        margin: 5px;
        background: transparent;
        color: white;
        padding: 6px 15px;
        border: 1px solid white;
        border-radius: 5px;
        width: 100%;
        font-size: 0.9em;
        transition: all 0.3s ease-in;
        &:hover {
            cursor: pointer;
            background-color: white;
            color: rgb(16, 14, 19);
        }
    }

    .shared-button {
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        text-decoration: none;

        &.twitter {
            background-color: #1da1f2;
            &:hover {
                background-color: rgb(26, 145, 218);
            }
        }
        &.whatsapp {
            background-color: #00bfa5;
            &:hover {
                background-color:#00a790;
            }
        }
    }
}
